target/
bin/
tmp/
out/
build/
.idea*
*.class
# Package Files #
*.jar
*.war
*.ear

*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.metadata

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/